body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding-top: 80px;
    overflow-y: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #8B0000;
    color: white;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    place-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: larger;
    font-weight: bolder;
}

.produtos {
    margin-left: 0px; /* Adiciona margem à esquerda para o conteúdo principal */
    flex-grow: 1; /* Permite que o conteúdo principal ocupe o espaço restante */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Configuração padrão para telas maiores */
    gap: 10px;
    padding: 0;
    overflow-y: auto;
}

.produto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: space-between;
   
    width: 300px; 
}

.titulo-card {
    font-size: large;
    font-weight: bolder;
    height: 85px;
}
.texto-tabela {
    font-size:medium;
}
.texto-tabela-car {
    font-size:medium;
}
.input-qtde {
    width: 50px; 
    text-align: center;
    color: blue;
    font-weight: bolder;
}
/* Media query para dispositivos móveis (resoluções menores que 720px) */
@media (max-width: 720px) {
    .produtos {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Configuração para dispositivos móveis */
    }

    .produto {
        width: 200px; /* Configuração para dispositivos móveis */
    }
    .imagensCard {
        width:170px !important;
        height:170px !important;
    }
    .texto-tabela {
        font-size:8px;
    }
    .texto-tabela-car {
        font-size:10px;
    }
    .input-qtde {
        width: 25px; text-align: center;
    }
}

.produto h3 {
    margin: 10px 0 5px;
    color: #333;
}

.botao {
    margin-top: 10px;
    padding: 10px 15px;
    background: #8B0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao:hover {
    background: #a30000;
}
.botao-small {
    background: #8B0000;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
}

.botao-small:hover {
    background: #a30000;
}

.finalizar {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    background: green;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.carrinho-contador {
    background: #066900;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
}

.carrinho-contador:hover {
    transform: scale(1.1);
}

.carrinho-contador i {
    font-size: 20px;
    /* Adjust icon size */
}

.carrinho-contador span {
    font-size: 12px;
    /* Adjust text size */
    margin-top: 2px;
}
.descricao {
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis (...) */
    display: -webkit-box; /* Use flexbox for layout */
    -webkit-box-orient: vertical; /* Set the box orientation to vertical */
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    line-height: 1.2em; /* Set line height */
    height: 2.4em; /* Set max height to 2 lines */
}
.cart-menu {
    top: 0;
    width: 100%; /* Set width to 100% */
    max-width: 750px; /* Maximum width of 450px */
    height: 100%;
    background: whitesmoke;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto; 
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    overflow-x: auto;
    width: 100%;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart-item button {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    color: red;
}

.cart-total {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: end;
    width: 100%;
}
.filter-toggle {
    cursor: pointer;
    background-color: #8B0000;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}

.filter-container {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background: whitesmoke;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto; 
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.container {
    display: flex;
    height: calc(100vh - 80px); /* Ajusta a altura para ocupar toda a tela menos o cabeçalho */
}
.filter-container {
    width: 250px; /* Largura fixa para o menu lateral */
    padding: 20px;
    background: #f8f8f8; /* Fundo claro para o menu lateral */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixa o menu lateral */
    height: calc(100vh - 180px); /* Altura total menos a altura do cabeçalho */
    top: 150px; /* Abaixo do cabeçalho */
    overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura */
    border-radius: 10px;
}


.search-input {
    width: 400px; /* Adjust width for better appearance */
    padding: 10px; /* Padding for better appearance */
    border: 2px solid #2f0dee; /* Border styling */
    border-radius: 5px; /* Rounded corners */
    margin: 10px auto; /* Centering */
    display: block; /* Block display for centering */
    font-weight: bold;
    position: absolute;
}

.search-input:focus {
    border-color: #8B0000; /* Change border color on focus */
    outline: none; /* Remove default outline */
}
.marcas-filter {
   display: flex;
   flex-direction: column;
}
.marcas-filter label {
    font-size: 18px;
    margin-bottom: 5px;
}
.pagination {
    position: fixed; /* Fix the position */
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    background-color: white; /* Background color for visibility */
    padding: 10px 0; /* Padding for spacing */
    text-align: center; /* Center the text */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    z-index: 1000; /* Ensure it is above other content */
    place-content: center;
}

.pagination button {
    background-color: #8B0000; /* Dark red background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 5px 15px; /* Padding for buttons */
    margin: 0 5px; /* Space between buttons */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
    font-size: 15px;
    height: 40px;
}

.pagination button:hover {
    background-color: #a30000; /* Lighter red on hover */
}
@keyframes buttonAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.button-animation {
    animation: buttonAnimation 3.3s ease;
}
.check-message {
    color: green; /* Cor verde para a mensagem */
    margin-left: 10px; /* Espaçamento entre o botão e a mensagem */
}
.input-modal {
   margin-bottom: 10px;
   padding: 10px; /* Padding for better appearance */
   border: 1px solid #ccc; /* Border styling */
   border-radius: 5px; /* Rounded corners */
}
.modal {
    display:none; 
    background: linear-gradient(45deg, black, transparent); 
    position: fixed; top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    place-items: center;
    padding-top: 50px;
}

.current-page-button {
    background-color: #570202 !important;
    font-size: 21px !important;
    height: 43px !important;
}
.produtos-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.produtos-tabela th, .produtos-tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.produtos-tabela th {
    background-color: #f2f2f2;
    color: black;
}
.produtos-tabela tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for odd rows */
}

.produtos-tabela tr:nth-child(odd) {
    background-color: #ffffff; /* White for even rows */
}

.imagensCard {
    width:270px; 
    height:270px; 
    cursor: pointer;
}
.cart-items-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Enable horizontal scrolling */
    display: block; /* Make the table scrollable */
}

.cart-items-table th, .cart-items-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.cart-items-table th {
    background-color: #f2f2f2;
    color: black;
}

.cart-items-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for even rows */
}

.cart-items-table tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

#cartMenu.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    max-width: 100%;
    height: auto;
    max-height: 80vh;
    background: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
}

#cartMenu.modal.show {
    display: block;
}
.search-container {
    position: relative; /* Ensure the container is relative for absolute positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 10px; /* Position inside the input field */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333; /* Ensure the icon is visible */
}